.basket {
    display: flex;
    align-items: center;

    &__text {
        display: flex;
        align-items: center;
        font-family: $segoe-ui-font;
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
    }

    &__count {
        position: relative;
        top: 3px;
        width: 24px;
        height: 24px;
    }

    &__icon {
        fill: $green;
        width: 21px;
        height: 21px;
    }

    &__amount {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -14px;
        top: -12px;
        background-color: $red;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: #fff;
        font-family: $segoe-ui-font;
        font-size: 14px;
        font-weight: 600;
    }

}