.block-info {
    &__list {
        display: flex;
    }

    &__elem {
        display: flex;
        margin-right: 15px;
        padding-right: 15px;
        border-right: solid 1px $gray-light;

        &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: 0px;
        }
    }

    &__icon {
        width: 10px;
        height: 10px;
        fill: $gray;
    }

    &__content {
        text-align: right;
        margin-right: 5px;
    }

    &__count {
        font-family: $segoe-ui-font;
        font-size: 20px;
        font-weight: 600;
        white-space: nowrap;
    }

    &__text {
        font-family: $segoe-ui-font;
        font-size: 13px;
        font-weight: normal;
    }
}