.btn {
    display: flex;
    align-items: center;
    border-radius: rem(3px);
    background-color: $gray-bg;
    border: solid 1px $gray-light;
    padding: rem(10px) rem(18px);
    font-family: $font;
    font-size: rem(14px);
    font-weight: normal;
    white-space: nowrap;
    line-height: 1;
    color: $black;

    &__icon {
        width: rem(14px);
        height: rem(14px);
        margin-right: rem(10px);

        &_right {
            margin-right: 0;
            margin-left: rem(10px); 
        }
    }

    &_transparent {
        background-color: transparent;
        border: transparent;
    }

    &_color-green {
        color: $green;

        .btn__icon {
            fill: $green;
        }
    }
    
    &_only-icon {
        padding: rem(7px);
        .btn__icon {
            margin-right: 0;
        }
    }

    &_disabled {
        color: $gray;
        cursor: default;

        .btn__icon {
            fill: $gray;
        }
    }

    &_white {
        background-color: #fff;
    }

    &_green {
        background-color: $green;
        border: $green;
        color: #fff;
        fill: #fff;
    }
    
    &_uppercase {
        text-transform: uppercase;
    }
}