.card-list {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 rem(-15px) rem(-30px) rem(-15px);
    }

    &__elem {
        display: flex;
        flex: 1;
        align-items: stretch;
        position: relative;
        min-width: rem(360px);
        min-height: rem(434px);
        margin: 0 rem(15px) rem(30px) rem(15px);
        
    }
}