.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: solid 1px $gray-light;
    padding: 10px;

    &__body  {
        flex: 1px;
    }

    &__footer {
        flex: 0;
    }

    &__header {
        display: flex;
    }

    &__header-img {
        flex: 0 0 auto;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        overflow: hidden;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__header-text {
        padding-left: 15px;
        max-height: 115px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__title-small {
        flex: 1 0 auto;
    }

    &__text {
        overflow: hidden;
        flex: 1 1 auto;
    }
    
    &__specs {
        border-radius: 3px;
        background-color: $gray-bg;
        padding: 15px;
        margin-bottom: 15px;
    }

    &__specs-row {
        display: flex;
        margin: 0 -5px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__specs-col {
        flex: 1;
        margin: 0 5px;
    }

    &__specs-title {
        font-family: $segoe-ui-font;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 3px;
    }

    &__specs-text {
        font-family: $segoe-ui-font;
        font-size: 13px;
        font-weight: normal;
    }

    &__price-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__btn {
        font-size: 16px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px;

        .btn__icon {
            width: 18px;
            height: 18px;
        }
    }

    &__delimiter {
        border-bottom: solid 1px $gray-light;
        margin: 12px 0;
    }

    &__edit-wrap {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0.97;
        padding: 10px;
    }

    &__close {
        position: absolute;
        top: 7px;
        right: 7px;
        z-index: 1000;
    }

}