.checkbox {
    display: flex;
    align-items: center;
    &__hidden {
        position: absolute;
        opacity: 0;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(15px);
        height: rem(15px);
        border-radius: rem(3px);
        background-color: #fff;
        border: solid 1px $gray-light;
        flex: 1 0 auto;
        margin-right: rem(5px);
    }

    &__text {
        white-space:nowrap;
        font-family: $font;
        font-size: rem(12px);
        font-weight: normal;
    }

    &__btn-icon {
        fill: $green;
        width: rem(8.4px);   
        height: rem(6.7px);
        opacity: 0;
    }

    &__hidden:checked + .checkbox__btn {
        .checkbox__btn-icon {
            opacity: 1;
        }
    }
}