.checkbox {
    display: flex;
    align-items: center;
    &__input {
        position: absolute;
        opacity: 0;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        border-radius: 3px;
        background-color: #fff;
        border: solid 1px $gray-light;
        flex: 1 0 auto;
        margin-right: 5px;
    }

    &__text {
        white-space:nowrap;
        font-family: $segoe-ui-font;
        font-size: 12px;
        font-weight: normal;
    }

    &__btn-icon {
        fill: $green;
        width: 8.4px;   
        height: 6.7px;
        opacity: 0;
    }

    &__input:checked + .checkbox__btn {
        .checkbox__btn-icon {
            opacity: 1;
        }
    }
}