
.container {
	margin: 0 auto;
	position: relative;
	min-width: 1280px; //это временно. а то мне не очень удобно 
	// min-width: 1920px; 
	width: 100%;
	height: 100%; 

	&_flex {
		display: flex;
		flex: 1 0 auto;
	}
}