.counter {
    display: flex;
    align-items: center;

    &__icon {
        width: 11px;
        height: 11px;
        fill: $black;
        opacity: 0.4;
    }

    &__input {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 5px;
        margin: 0 10px;
        width: 38px;
        height: 34px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px $gray-light;
        font-family: $segoe-ui-font;
        font-size: 14px;
        font-weight: normal;
    }
}