.data-table {
    width: 100%;
    border-collapse: collapse;

    &__tbody {
        .data-table__row:nth-child(odd) {
            background-color: $gray-bg;
        } 
    }

    &__cell {
        text-align: left;
        border-bottom: solid 2px $gray-light;
        padding: rem(15px) rem(10px); 
        white-space: nowrap;
        white-space: nowrap;
        font-family: $segoe-ui-font;
        font-size: rem(16px);
        font-weight: 600; 
    }

    &__sort {
        width: rem(14.9px);  
        height: rem(12px);
    }

    &__td-icon {
        width: rem(14.2px);  
        height: rem(14.2px);
        fill: $green;
    }

    &__td-count {
        white-space: nowrap;
    }

    &__td {
        padding: rem(16px) rem(10px);
        font-family: $segoe-ui-font;
        font-size: rem(15px);
        font-weight: 600;
        text-align: left;    
        border-bottom: solid 2px $gray-light;
    }

    &__td-text {
        font-family: $segoe-ui-font;
        font-size: rem(15px);
        font-weight: normal;
    }

    &__td-name-wrap {
        display: flex;
    }

    &__td-count-wrap {
        display: flex;
        flex-direction: column;

        .data-table__checkbox-edit {
            display: none;
        }

    }

    &__td-edit {
        float: right;
        margin-left: rem(30px);
    }

    &__td-edit-wrap {
        width: 120px;
    }

    &__btn-save,
    &__btn-search,
    &__checkbox-edit {
        display: none;
    }

    &__row_edit {
        .data-table__td-text,
        .data-table__td-name,
        .data-table__td-count_edit {
            display: inline-block;
            background-color: #fff;
            padding: rem(5px) rem(10px);
            border-radius: rem(3px);
            border: solid 1px $gray-light;
            font-size: rem(12px);
            line-height: 1.4;
        }

        .data-table__td-name {
            display: flex;
            align-items: center;
            margin-right: rem(8px);
        }

        .data-table__td-count_edit {
            margin-bottom: rem(6px);
        }

        .data-table__td-edit {
            display: none;
        }

        .data-table__btn-save,
        .data-table__btn-search {
            display: inline-flex;
        }

        .data-table__checkbox-edit {
            display: flex;
        }
    }
    
}