.dropdown {
    display: flex;
    height: 40px;
    max-width: 580px;

    &__text {
        flex: 1 1 auto;
        align-self: stretch;
        overflow: hidden;
        text-align: left;
        font-family: $segoe-ui-font;
        font-size: 15px;
        line-height: normal;
        font-weight: normal;
    }
    
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        align-self: stretch;
        width: 53px;
    }

    &__icon {
        width: 13px;
        height: 6.5px;
    }

}