.dropdown-block {


    &__header {
        position: relative;
        display: block;
        border-radius: 3px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border: solid 1px $gray-light;
        padding-bottom: 13px;  
        margin-bottom: 30px;

        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 10px solid $gray-light;
            top: 100%;
            left: 90px;
        }

        &:after {
            border-top: 10px solid #fff;
            top: calc(100% - 1px);
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 25px 15px;
        min-height: 58px;

        &_gray {
            background-color: $gray-bg;
            padding-bottom: 15px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        font-family: $segoe-ui-font;
        font-size: 20px;
        font-weight: 600;

        &_margin-bottom {
            margin-bottom: 44px;
        }

    }

    &__body {
        display: flex;
    }

    &__aside {
        flex: 0 0 320px;
        position: relative;
        border-radius: 3px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border: solid 1px $gray-light;  
        padding: 15px; 
        margin-right: 40px;
        text-align: center;   

        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 10px solid $gray-light;
            left: 100%;
            top: 5px;
        }

        &:after {
            border-left: 10px solid #fff;
            left: calc(100% - 1px);
        }
    }

    &__aside-title {
        margin-bottom: 30px;
    }

    &__aside-elem {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__btn {
        font-family: $segoe-ui-font;
        font-size: 15px;
        font-weight: 600;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        border-radius: 3px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border: solid 1px $gray-light;  
        overflow: hidden;
    }

    &__content-main {
        flex: 1;
        padding: 15px; 
    }

    &__content-footer {
        display: flex;
        background-color: $gray-bg;
        padding: 12px 13px;
    }

    &__total-cost {
        display: flex;
        align-items: center;
        margin-left: auto; 
        font-family: $segoe-ui-font;
        font-size: 16px;
        font-weight: normal;

        .price {
            font-family: $segoe-ui-font;
            font-size: 20px;
            font-weight: 600;
            text-align: right;
            min-width: 130px;
        }
    }
}