.filters-panel {
    display: flex;
    background-color: #fff;
    border-bottom: solid 1px $gray-light;
    padding: rem(20px) rem(30px);
    

    &__delimiter {
        align-items: stretch; 
        width: 0;
        margin-right: rem(15px);
        margin-left: rem(15px);
        border-right: 1px solid $gray-light;
    }  
    
    &__btn-group {
        margin-left: auto;
    }

    &__input-range {
        width: rem(406px);
        margin-right: rem(15px);
    }

    &__select-block {
        margin-right: rem(30px)
    }

    &__input-range-wrap {
        display: flex;
        align-items: flex-end;
        height: rem(39px);
        padding-bottom: rem(3px);
    }
}