.filters-panel {
    display: flex;
    background-color: #fff;
    border-bottom: solid 1px $gray-light;
    padding: 20px 30px;
    

    &__delimiter {
        align-items: stretch; 
        width: 0;
        margin-right: 15px;
        margin-left: 15px;
        border-right: 1px solid $gray-light;
    }  
    
    &__btn-group {
        margin-left: auto;
    }

    &__input-range {
        width: 406px;
        margin-right: 15px;
    }

    &__select-block {
        margin-right: 30px;
    }

    &__input-range-wrap {
        display: flex;
        align-items: flex-end;
        height: 39px;
        padding-bottom: 3px;
    }
}