.icon {
    width: 17px;
    height: 17px;

    &__elem {
        fill: $black;
        width: 100%;
        height: 100%;

        &_ellow {
            fill: $yellow;
        }

        &_red {
            fill: $red;
        }
    }
}