.input {
    display: block;
    padding: 10px;
    border: solid 1px $gray-light;
    border-radius: rem(3px);
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-family: $font;
    font-size: rem(14px);
    font-weight: normal;
    background: #fff;
    position: relative;

    &__wrap {
        position: relative;
        width: rem(360px); //действительно ли должен быть фикс?!
    }

    &__magnifier {
        position: absolute;
        top: 50%;
        right: rem(15px);
        transform: translate(0 ,-50%);
        width: rem(16.5px);
        height: rem(16.5px);   
    }
}