.input-signature {
    display: flex;
    align-items: center;
    flex: 1;

    &__text {
        margin-right: rem(15px);
        flex: 1 0 auto;
    }

    &_padding-right {
        padding-right: rem(15px);
    }
}