.menu {
    display: flex;
    align-items: center;

    &__icon {
        fill: $green;
        height: rem(14.7px);
        width: rem(22px); 
        margin-right: rem(15px);
    }

    &__text {
        color: $green;
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Segoe UI';
        font-weight: normal;
    }
}