.orders-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    &__header {
        font-family: $segoe-ui-font;
        font-size: 16px;
        font-weight: 600;
        .orders-table {
            &__cell {
                height: 100%;
                padding: rem(15px) rem(20px);
                white-space: nowrap;
            }
        }
        
    }

    &__delimiter {
        height: rem(5px);
    }

    &__body {
        font-family: $segoe-ui-font;
        font-size: 15px;
        font-weight: normal;

        .orders-table {
            &__row {
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
                border: 1px solid $gray-light;
                
                &_dropdown-is-open {
                    .orders-table__dropdown-icon {
                        transform: rotate(180deg);
                    }
                    .orders-table__arrow-down {
                        &:after,
                        &:before {
                            display: inline-block;
                        }
                    }
                }
            }

            &__cell{
                height: 100%;
                padding: rem(13px) rem(20px);
            }
        }
    }

    &__dropdown {
        display: inline-block;
        padding: rem(2px);

    }

    &__dropdown-cell {
        padding: rem(17px) 0;
    }

    &__dropdown-icon {
        width: rem(12px);
        height: rem(7.4px);  
    }

    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: rem(16px);
        width: 100%;
        min-height: rem(50px);

        .btn__icon {
            width: rem(10.3px);
            height: rem(10.3px);           
        }
    }

    &__arrow-down {
        position: relative;
        &:after,
        &:before {
            content: '';
            position: absolute;
            display: none;
            width: 0;
            height: 0;
            border-left: rem(30px) solid transparent;
            border-right: rem(30px) solid transparent;
            border-top: rem(10px) solid $gray-light;
            top: 100%;
            left: rem(13px);
        }

        &:after {
            border-top: rem(10px) solid #fff;
            top: calc(100% - 1px);
        }
    }

}