.order-status {
    width: 100%;
    text-align: center;

    &__elem {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: rem(14px);
        height: rem(14px);
        border-radius: 50%;
        background-color: #ffffff;
        border: solid 1px $gray;


        &:after {
            content: '';
            display: inline-block;
            width: rem(8px);
            height: rem(8px);
            border-radius: 50%;
            background-color: $gray;
        }
    
        &_1 {
            border: solid 1px $green;
    
            &:after {
                background-color: $green;
            }
        }
    
        &_2 {
            border: solid 1px $red;
    
            &:after {
                background-color: $red;
            }
        }
    
        &_3 {
            border: solid 1px $yellow;
    
            &:after {
                background-color: $yellow;
            }
        }
    
        &_4 {
            border: solid 1px $blue;
    
            &:after {
                background-color: $blue;
            }
        }
    
        &_5 {
            border: solid 1px $orange;
    
            &:after {
                background-color: $orange;
            }
        }
    }

    
}