.orders-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;

    &__header {
        font-family: $segoe-ui-font;
        font-size: 16px;
        font-weight: 600;
        .orders-table {
            &__cell {
                vertical-align: bottom;
                height: 100%;
                padding: 15px 20px;
            }
        }
        
    }

    &__delimiter {
        height: 5px;
    }

    &__body {
        font-family: $segoe-ui-font;
        font-size: 15px;
        font-weight: normal;

        .orders-table {
            &__row {
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
                border: 1px solid $gray-light;
                
                
                &_dropdown-is-open {
                    .orders-table__dropdown-icon {
                        transform: rotate(180deg);
                    }
                    .orders-table__arrow-down {
                        &:after,
                        &:before {
                            display: inline-block;
                        }
                    }
                }
            }

            &__cell{
                height: 100%;
                padding: 13px 20px;
            }
        }
    }

    &__dropdown {
        display: inline-block;
        padding: 2px;

    }

    &__dropdown-cell {
        padding: 25px 0;
    }

    &__dropdown-icon {
        width: 12px;
        height: 7.4px;  
    }

    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        width: 100%;
        min-height: 50px;

        .btn__icon {
            width: 10.3px;
            height: 10.3px;           
        }
    }

    &__arrow-down {
        position: relative;
        &:after,
        &:before {
            content: '';
            position: absolute;
            display: none;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 10px solid $gray-light;
            top: 100%;
            right: 0;
        }

        &:after {
            border-top: 10px solid #fff;
            top: calc(100% - 1px);
        }
    }

    &__status {
        font-family: $segoe-ui-font;
        font-size: 15px;
        font-weight: 600;

        &_cancel {
            color: $red;
        }

        &_done {
            color: $green-dark;
        }
    }

}