.order-table {
    width: 100%;
    font-size: rem(14px);

    &__cell {
        padding: rem(10px);

        &:first-child {
            padding-left: 0px;
        }

        &:last-child {
            padding-right: 0px;
        }
    }


    &__input {
        width: 100%;
        font-size: rem(14px);
        padding-right: rem(60px);
        .input__elem {
            padding: 0 rem(15px);
            
        }
    }
    
    &__input-range-wrap {
        align-items: center;

        .input-range {
            background: $green;

            &__thumb {
                width: rem(15px);
                height: rem(15px);
                border: solid 2px $green;

                &:after {
                    bottom: calc(100% + 1px);
                }
            }

            &__thumb-text {
                font-size: rem(16px);
                font-weight: 600;
            }
        }


    }
}