.order {

    border-radius: rem(3px);
    box-shadow: 0 0 rem(6px) 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: solid 1px $gray-light;
    &__row {
        display: flex;
        justify-content: space-between;
        padding: rem(15px) rem(10px);

        &_gray {
            background-color: $gray-bg;
        }
    }

    &__col {
        padding: 0 rem(5px);
    }

    &__title {
        display: flex;
        align-items: center;
        font-family: $segoe-ui-font;
        font-size: rem(20px);
        font-weight: 600;
    }

    &__btn {
        font-size: rem(15px);
        font-weight: 600;
        padding: rem(9.5px) rem(31px);
        min-height: rem(36px);
        margin-right: rem(15px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn-only-icon {
        padding: rem(11.2px) rem(13px);
        min-height: rem(36px);
        .btn__icon {
            width: rem(6.6px);
            height: rem(10.6px);
            opacity: 0.5; 
        }
    }

    &__total-cost {
        display: flex;
        align-items: center;
        margin-left: auto; 

        .price {
            text-align: right;
            min-width: rem(130px);
        }
    }
}