.page {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;

    &__section {
        position: relative;
        flex: 0 0 auto;
        padding: 30px;
         
        &_flex {
            display: flex;
            justify-content: space-between;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        background-color: $gray-bg;
        border-bottom: solid 1px $gray-light;
        padding: 25px 30px;
    
    }

    &__block-info {
        margin-left: auto;
    }
}