.page {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;

    &__section {
        position: relative;
        flex: 0 0 auto;
        padding: rem(30px);
         
        &_flex {
            display: flex;
            justify-content: space-between;
        }
    }

    &__header {
        display: flex;
        background-color: $gray-bg;
        border-bottom: solid 1px $gray-light;
        padding: rem(25px) rem(30px);
    
    }

    &__block-info {
        margin-left: auto;
    }
}