.pagination {
    display: flex;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__block {
        display: flex;

    }

    &__list {
        display: flex;
    }

    &__elem {
        display: flex;
        width: 25px;
        height: 25px;
        background-color: $gray-bg;
        border-radius: 3px;
        margin: 0 5px;

        &_active {
            background-color: $green;
            .pagination__link {
                color: #fff;
            }
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: $segoe-ui-font;
        font-size: 15px;
        font-weight: 600;
        color: $black;
    }

    &__icon {
        width: 8px;
        height: 15px;  
    }
}