.pagination {
    display: flex;
    height: rem(25px);

    &__list {
        display: flex;
    }

    &__arrow,
    &__elem {
        display: flex;
        width: rem(25px);
        height: rem(25px);
        background-color: $gray-bg;
        border-radius: rem(3px);
        margin: 0 rem(5px);

        &_active {
            background-color: $green;
            .pagination__link {
                color: #fff;
            }
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: $font;
        font-size: rem(15px);
        font-weight: 600;
        color: $black;
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: rem(8px);
        height: rem(15px);  
    }
}