.progress-bar {
    width: 100%;
    padding-top: 45px;
    &__band {
        position: relative;
        height: 10px;
        width: 100%;
        border-radius: 6px;
        background: $gray-light;
    }

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 5px;
        background: $blue;
    }

    &__points {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 10px;
    }

    &__point {
        position: relative;
        width: 18px;
        height: 18px;
        background-color: transparent;
        border: solid 3px transparent;
        border-radius: 50%;

        &_active {
            background-color: #fff;
            border: solid 3px $blue;
        }

        &:last-child {
            .progress-bar__point-text {
                text-align: right;
                left: auto;
                right: -12px;
            }
        }

        &_done {
            .progress-bar__point-text {
                color: $green-dark;
                font-weight: 600;
            }
        }

        &_cancel {
            .progress-bar__point-text {
                color: $red;
                font-weight: 600;
            }
        }
    }

    &__point-text {
        position: absolute;
        bottom: calc(100% + 16px);
        left: -12px;
        min-height: 38px;
        font-family: $segoe-ui-font;
        font-size: 15px;
        font-weight: normal;
        white-space: nowrap;
    }
}