.select {
    position: relative;
    height: rem(39px);
    width: rem(94px);
    margin-right: rem(35px);

    &__icon{
        position: absolute;
        top: 50%;
        right: rem(-20px);
        transform: translate(0 , -50%);
        width: rem(9px);
        height: rem(5px);
    }

    .jq-selectbox__select,
    .jq-selectbox__select-text {
        width: rem(94px) !important;
        overflow: hidden;
    }
}

.jq-selectbox {
    height: 100%;
}

.jq-selectbox__select {
    height: 100%;
    padding-right: 36px;
    box-sizing: content-box;
}

.jq-selectbox__select-text {
    height: 100%;
    display: flex;
    align-items: center;
    
}



.jq-selectbox__dropdown {
	right: auto !important;
	left: 0px !important;
}

.jq-selectbox__dropdown ul {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.jq-selectbox__dropdown li {
	width: rem(94px);
	text-overflow:ellipsis;
    overflow: hidden;
    font-family: $segoe-ui-font;
    font-size: rem(14px);
    font-weight: normal;
    text-align: left;
}

.jq-selectbox__select-text {
    font-family: $segoe-ui-font;
    font-size: rem(14px);
    font-weight: normal;
}