html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    font-size: rem(15px);
    line-height: 1.3em;
    font-weight: normal;
    height: 100%;
    width: 100%;   
    color: #333333;
    font-family: $font, Verdana;
}

html {
    @include tablets {
        font-size: 15px; 
    }

    @include phones {
        font-size: 13px; 
    }
}

* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);  
    font-family: $font, verdana;  
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a { text-decoration: none;}

img {
    width: 100%;
    height: auto;
}

ul li { list-style: none;}
