.tab-block {
    display: flex;
    margin: 0 rem(-15px);
    margin-bottom: rem(52px);

    &__btn {
        flex: 1;
        margin: 0 rem(15px);
        border-radius: rem(3px);
        background-color: $gray-bg;
        border: solid 1px $gray-light;
        padding: rem(12px);
        color: $black;
        text-align: center;
        text-transform: uppercase;

        span {
            opacity: 0.5;
            font-family: $segoe-ui-font;
            font-size: rem(20px);
            font-weight: bold;
        }

        &_active {
            background-color: $green;
            border: $green;
            color: #fff;

            span {
                opacity: 1;
            }
        }
    }
}