.table {
    width: 100%;
    font-family: $segoe-ui-font;
    font-size: 14px;
    font-weight: normal;

    &__cell {
        padding: 0 20px 20px 0;

        &:last-child {
            padding: 0 0 20px 0;
        }
    }

    &__input {
        width: 100%;

        .input__elem {
            padding: 0 15px;
        }
    }

    &__total-cost {
        font-family: $segoe-ui-font;
        font-size: 20px;
        font-weight: 600;
    }

    &__input-range {
        background-color: $green;

        .input-range__thumb {
            width: 17px;
            height: 17px;
            border: solid 2px $green;

            .input-range__thumb-text {
                font-family: $segoe-ui-font;
                font-size: 16px;
                font-weight: 600;
            }

            &:after {
                bottom: calc(100% + 1px);
            }
        }
    }
}