.text {
    font-family: $segoe-ui-font;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 10px;

    &_small {
        font-size: 12px;
        margin-bottom: 0;
    }

    &_fsz-15 {
        font-size: 15px;
        margin-bottom: 0;
    }

    &_big {
        font-size: 16px;
        font-weight: 600;
    }

    &_center {
        text-align: center;
    }
}