.text {
    font-family: $font;
    font-size: rem(14px);
    font-weight: normal;
    line-height: normal;
    margin-bottom: rem(10px);

    &_small {
        font-size: rem(12px);
        margin-bottom: 0;
    }

    &_big {
        font-size: rem(16px);
        font-weight: 600;
    }

    &_center {
        text-align: center;
    }
}