.tiles {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 rem(-15px) rem(-30px) rem(-15px);
    }

    &__elem {
        display: flex;
        align-items: stretch;
        position: relative;
        width: rem(360px);
        min-height: rem(434px);
        border-radius: rem(3px);
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border: solid 1px $gray-light;
        margin: 0 rem(15px) rem(30px) rem(15px);
        padding: rem(10px);
    }
}