.title {
    font-family: $segoe-ui-font;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;

    @include screen-size-desktop() {
        font-size: 24px;
    }
}