.user-info {
    width: rem(334px);


    &__name {
        font-family: $segoe-ui-font;
        font-size: rem(18px);
        font-weight: 600;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: rem(10px);
    }

    &__position {
        font-family: $segoe-ui-font;
        font-size: rem(14px);
        font-weight: normal;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}