$green-dark: #00673e;
$green: #449D2F;
$green-light: #9EC219;
$gray: #C0C0C0;
$white: #F8F6EF;
$orange: #fdb410;
$blue: #0E70AE;
$turquoise: #009896;
$purple: #B43B84;
$yellow: #F2D801;
$red: #eb552a;
$black: #333333;
$gray-light: #e7e7e7;
$gray-bg: #fafafa;


/*fonts*/

$segoe-ui-font: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

/* z-index */

$z-index-header: 100;
$z-index-naw: 50;
$z-index-submenus: 10;
$z-index-submenus-after: 40;
$z-index-naw-link: 60;
$z-index-tooltip: 1000;

$tablets: 768px;
$phones: 480px;

$screen-size-desktop: 1680px;
